---
---

@import "{{ site.theme }}";

body {
    background: #B2CCE8;
}

.site-header {
    background-color: #0080C0;
}

.site-footer {
    background-color: #0080C0;
}

.footer-col-wrapper,
.social-links {
  color: black;
}

a {
  color: #024016;
  text-decoration: none;

  &:visited {
    color: #024016;
  }
}

  .nav-item {
    color: #024016;
    }

.site-title::before {
content: url("https://github.com/Katerwhal/lis786-project/raw/main/logo-trans.png");
display: inline-block;
position: relative;
height: 35px;
top: 5px;
}