---
---

@import "{{ site.theme }}";

body {
    background: #DCE3DE;
}

.site-header {
    background-color: #7498A1;
      border-top: 0;
}

.site-footer {
    background-color: #65A2CF;
}

.footer-col-wrapper,
.social-links {
  color: black;
}

a {
  color: #024016;
  text-decoration: none;

  &:visited {
    color: #024016;
  }
}

  .nav-item {
    color: #024016;
    }

.site-title::before {
    background-image: url("https://github.com/Katerwhal/lis786-project/raw/main/logo-trans.png");
    content: "";
    display: inline-block;
    position: relative;
    width: 100px;
    top: 10px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}