---
---

@import "{{ site.theme }}";

body {
    background: #DCE3DE;
}

.site-header {
    background-color: #7498A1;
      border-top: 0;
}

.site-footer {
    background-color: #65A2CF;
}

.footer-col-wrapper,
.social-links {
  color: black;
}

a {
  color: #024016;
  text-decoration: none;

  &:visited {
    color: #024016;
  }
}

  .nav-item {
    color: #024016;
    font-size: 2em;
    }

.site-title::before {
    background-image: url("https://github.com/Katerwhal/lis786-project/raw/main/logo-trans.png");
    content: "";
    display: inline-block;
    position: relative;
    width: 100px;
    top: 10px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.content-left {
@media all and (min-width: 960px) {
	width: 62%;
	float: left;
	}
}

.img-right {
@media all and (min-width: 960px) {
	width: 32%;
	float: right;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.clear-fix::after {
	content: "";
	clear: both;
	display: table;
}